<form class="student-form" autocomplete="off" [formGroup]="studentForm" (ngSubmit)="submitForm()">
    <div class="form-floating mb-3">
      <input class="form-control" type="text" id="firstName" formControlName="firstName" placeholder="firstName" required>
      <label for="firstName">First Name</label>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="text" id="lastName" formControlName="lastName" placeholder="lastName" required>
        <label for="firstName">Last Name</label>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="number" id="phone" formControlName="phone" placeholder="phone" required>
        <label for="firstName">Phone</label>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="text" id="parentEmail" formControlName="parentEmail" placeholder="parentEmail" required>
        <label for="parentEmail">Parent Email</label>
    </div>


    <input type ="hidden" [(ngModel)]="numberOfCasesInAccount"
    class="form-control" id="casesInAccount" formControlName="casesInAccount" placeholder="casesInAccount" required>

  

      

    <button class="btn btn-primary" type="submit" [disabled]="studentForm.invalid">Add</button>
  </form>