<h2>Transactions for {{stud.firstName}} {{stud.lastName}}</h2>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Type of Transaction</th>
            <th>Quantity</th>
            <th>Chocolate Type</th>
            <th>Date</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let transactions of stud.transactions">
            <td>{{transactions.typeOfTransaction}}</td>
            <td>{{transactions.quantity}}</td>
            <td>{{transactions.chocoType}}</td>
            <td>{{transactions.date}}</td>

        </tr>
    </tbody>
</table>
<button class="btn btn-primary me-1" [routerLink]="['/students/']">Home</button>
